*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    min-height: 100vh;
    background-color: aqua;
}

.container{
    margin: auto;
    border: 10px solid black;
    padding: 2%;
    font-size: 20px;
}

.button-div{
    display: flex;
    justify-content: space-evenly;
}

button{
    padding: 5px;
    text-align: center;
    background-color: rgb(197, 128, 128);
    cursor: pointer;
    margin: 10px auto;

}

#result{
    border: none;
}

#reset{
    display: flex;
    margin: 10px auto;
    border: none;
}