*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    min-height: 100vh;
    display: flex;
}

.content{
    padding: 2px;
    background-color: black;
    color: wheat;
    margin: auto;
    border-radius: 25px;
    height: 25px;
    width: fit-content;
}


.button{
    border: none;
    background-color: rgb(138, 87, 11);
    color: rgb(255, 255, 255);
    height: 30px;
    width: 80px;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px;
}


.output{
    width: 500px;
    border: 2px solid white;
    height: 100px;
    background-color: black;
    text-align: center;
}