*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
}

.container{
    margin: auto;
    font-size: 50px;
    height: 100px;
    border-radius: 15px;
}

#button, #color{
    margin: 30px auto;
    display: flex;
}

#button{
    color: white;
    background-color: rgb(41, 41, 179);
    font-size: 50px;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

#color{
    height: 2.5rem;
    width: 7rem;
    cursor: pointer;
}