*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    min-height: 100vh;
}

#button{
    color: white;
    background-color: rgb(41, 41, 179);
    font-size: 50px;
    height: 100px;
    width: 250px;
    border-radius: 15px;
    margin: auto;
    cursor: pointer;
}

#button:hover{
    background-color: blue;
}